@{
    ViewBag.Title = "About";
}
<!-- About Start -->
<div class="container-fluid py-6">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">
                <img src="~/Content/Templete/img/WhatsApp Image 2024-08-28 at 20.59.04_a5cc466f.jpg" alt="About Us Image" style="float: right; width: 100%; height: auto; margin-left: 20px;">
            </div>
            <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s">
                <br />
                <h1 class="display-5 mb-4">Trusted By 200 + satisfied clients</h1>
                <br />
                <p class="mb-4">
                    Welcome to our About Us page
                    <br />
                    Crafting Dreams, Building Futures

                    At uMbilo mechanics, we believe in the power of innovation and the magic of creativity.
                    Our journey began with a simple idea: to make a difference.
                    Every day, we strive to push boundaries, embrace challenges, and deliver excellence.
                    Our team is a family, united by a shared passion for what we do.
                    We are committed to sustainability, quality, and customer satisfaction.
                    Join us as we continue to grow, evolve, and inspire. Together, we can achieve the extraordinary.
                    Welcome to Mbilo mechanics – where dreams become reality.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
