@{
    ViewBag.Title = "Contact";
}

<!-- Contact Start -->
<div class="container-fluid contact py-6 wow bounceInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="p-5 bg-light rounded contact-form">
            <div class="row g-4">
                <div class="col-12 text-center">
                    <h1 class="display-5 mb-0" style="color: black;">Contact Us For Any Queries!</h1>
                </div>

                <div class="col-md-6 col-lg-5 mx-auto">
                    <div class="border border-primary p-4 rounded mb-4">
                      
                        <div>
                            <h4 style="color: black;">Address</h4>
                            <p style="color: red;">111 Umbilo Rd, Durban</p>
                        
                    <br />
                   
                            <h4 style="color: black;">Mail Us</h4>
                            <p class="mb-2" style="color: red;">info@umbilomechanics.co.za</p>
                            <p class="mb-0" style="color: red;">+27 73 448 0035</p>
                    <br />
                            <h4 style="color: black;">Telephone</h4>
                            <p class="mb-2" style="color: red;">+27 73 448 0035</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
