@{
    ViewBag.Title = "Login Failure";
}

<style>

</style>

<main>
    <hgroup>
        <h2>@ViewBag.Title.</h2>
        <h3 class="text-danger">Unsuccessful login with service.</h3>
        <h5>Please try again</h5>
    </hgroup>
</main>