@{
    ViewBag.Title = "About";
}
<!-- About Satrt -->
<div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">
    @*<img src="~/Content/Templete/img/istockphoto-1415056757-612x612.jpg" />*@
    <img src="~/Content/Templete/img/Family pack.jpg" />
    <br />
</div>
<div class="container-fluid py-6">
    <div class="container">
        <div class="row g-5 align-items-center">

            <br />
            <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s">
                <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-3">About Us</small>
                <br />
                <h1 class="display-5 mb-4">Trusted By 700+ satisfied clients</h1>
                <br />
                <p class="mb-4">
                    Welcome to our About Us page
                    <br />
                    Welcome to Nonami, where we believe that great food brings people together and creates unforgettable experiences. 
                    At Nonami, we're passionate about crafting culinary delights that tantalize your taste buds and leave you craving for more. 
                    Our commitment to quality ingredients, innovative recipes, and meticulous attention to detail sets us apart. 
                    Whether you're indulging in our signature dishes or exploring our diverse menu offerings, we strive to deliver excellence in every bite. 
                    From intimate gatherings to grand celebrations, Nonami is here to elevate your dining experience and create cherished memories. 
                    Join us on a culinary journey like no other, where every dish tells a story and every moment is savored.
                </p>
                <div class="row g-4 text-dark mb-5">
                    <div class="col-sm-6">
                        <i class="fas fa-share text-primary me-2"></i>We make sure that our deliveries are on time.
                    </div>
                    <div class="col-sm-6">
                        <i class="fas fa-share text-primary me-2"></i>24/7 Customer Support.
                    </div>
                    <div class="col-sm-6">
                        <i class="fas fa-share text-primary me-2"></i>Customization Options.
                    </div>
                    <div class="col-sm-6">
                        <i class="fas fa-share text-primary me-2"></i>Best food deals and reasonable prices.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
