@{
    ViewBag.Title = "Home Page";
}
<!-- Hero Start -->
<h1>NONAMI FOOD MANAGEMENT SYSTEM </h1>
<h3>
    Keep Your Mind Focussed
    <br />
    Be Ready To Be Inspired by NONAMI...
</h3><h1>NONAMI</h1>
<div class="container-fluid bg-light py-6 my-6 mt-0">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-7 col-md-12">
                <small class="d-inline-block fw-bold text-dark text-uppercase bg-light border border-primary rounded-pill px-4 py-1 mb-4 animated bounceInDown">Welcome to NONAMI FOOD ORDERS</small>
                <h1 class="display-1 mb-4 animated bounceInDown">Choose your favourite <span class="text-primary">Food</span>...</h1>
                <a href="/Products/Index" class="btn btn-primary border-0 rounded-pill py-3 px-4 px-md-5 me-4 animated bounceInLeft">Order Now</a>
                <a href="/Home/About" class="btn btn-primary border-0 rounded-pill py-3 px-4 px-md-5 animated bounceInLeft">Know More</a>
            </div>
            <div class="col-lg-5 col-md-12">
                @**<img src="~/Content/Templete/img/gettyimages-1129874863-612x612.jpg"/>*@
                @*<img src="~/Content/Templete/img/aa2.jpg" />*@
                <img src="~/Content/Templete/img/Burger.jpg" />
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->